body {
  background: #071a2d;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.login-box {
  max-width: 500px;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 12px;
  margin-right: 5px;
  background: orange;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
