body {
  margin: 0;
  background: #0b1c2d;
  font-family: 'Times New Roman', serif;
}

.ticket {
  width: 100%;
  max-width: 360px;
  background: white;
  border: 4px solid red;
  margin: 10px auto;
}

.ticket table {
  width: 100%;
  border-collapse: collapse;
}

.ticket td {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  padding: 8px;
}

.called {
  background: yellow;
}
.chatbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  padding: 10px;
}

#messages {
  max-height: 150px;
  overflow-y: auto;
  font-size: 14px;
}

#chatInput {
  width: 70%;
}

#sendBtn {
  width: 28%;
}