.box {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

input, select, button {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: #ff9800;
  font-weight: bold;
  cursor: pointer;
}
