body {
  background:#071a2d;
  color:white;
  font-family:Arial;
  padding:20px;
}

input,button {
  padding:10px;
  margin:5px 0;
}

#chatBox {
  border:1px solid #444;
  height:200px;
  overflow-y:auto;
  padding:10px;
}
