body {
  background:#05203a;
  color:#fff;
  font-family: Arial Black, Arial;
  padding:10px;
}

.ticket {
  background:#c7e38b;
  border:6px solid #7aa63d;
  margin:10px auto;
  max-width:320px;
}

.ticket td {
  width:20%;
  height:48px;
  border:2px solid #6a8f2f;
  text-align:center;
  font-size:20px;
  color:#000;
  font-weight:900;
}

#chatBox {
  background:#000;
  height:150px;
  overflow:auto;
  padding:6px;
}
