body {
  background:#06192f;
  color:#fff;
  font-family:Arial;
  padding:10px;
}

button {
  background:#ff9800;
  border:none;
  padding:8px 12px;
  margin:5px;
  font-weight:bold;
}

.ticket {
  border-collapse:collapse;
  margin:10px 0;
}

.ticket td {
  width:45px;
  height:45px;
  border:1px solid #333;
  text-align:center;
  font-weight:bold;
  background:#a7d46f;
  color:#000;
}

#chatBox {
  height:150px;
  overflow:auto;
  background:#000;
  padding:5px;
}
